trainer:
  accelerator: auto
  default_root_dir: 'runs/s4d_cnn_test2/'
  callbacks:
    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        monitor: val/loss
        mode: min
        save_last: true
    - class_path: lightning.pytorch.callbacks.EarlyStopping
      init_args:
        monitor: val/loss
        patience: 10
        mode: min
  logger:
    class_path: lightning.pytorch.loggers.WandbLogger
  log_every_n_steps: 1
  max_epochs: 80

data:
  class_path: data.LitDataModule
  init_args:
    inputs: ['output_ts_I', 'output_ts_Q']
    variables: ['energy_eV', 'pitch_angle_deg']
    observables: ['avg_axial_frequency_Hz', 'avg_carrier_frequency_Hz', 'radius_m']
    batch_size: 256
    num_workers: 4
    path: '/gpfs/gibbs/pi/heeger/hb637/ssm_files_pi_heeger/combined_data_fullsim.hdf5'
    cutoff: 8192

model:
  class_path: model.LitS4_CNNModel
  init_args:
    learning_rate: 1e-2 
    weight_decay: 0.01
    weight_decay: 0.01
    gamma: 0.99
    loss: 'MSELoss'
    encoder:
      class_path: models.networks.S4D_CNN_Model
      init_args:
        output_dim: &d_output 2 
        d_input_ts: 2
        d_input_fft: 2
        # S4D Branch
        s4d_d_model: 18
        s4d_n_layers: 6
        s4d_dropout: 0.0
        s4d_fc_hidden: [800,256,128]
        # CNN Branch (FT)
        cnn_out_channels: 128
        cnn_hidden_channels: 20
        cnn_num_blocks: 4
        cnn_kernel_size: 21
        combined_fc_hidden: [128, 64]


